<!DOCTYPE HTML>

<html>
    <head>
        <title>Natural Disasters in the US</title>
        <script src='https://api.mapbox.com/mapbox-gl-js/v0.43.0/mapbox-gl.js'></script>
        <link href='https://api.mapbox.com/mapbox-gl-js/v0.43.0/mapbox-gl.css' rel='stylesheet' />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href='/static/styles.css' rel='stylesheet' />

    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <h1>Filter by</h1>
                    <form id="filter">
                        <h3>Date</h3>
                        <label>From
                            <input id="from" type="date" name="from"></label><br>
                        <label>To
                            <input id="to" type="date" name="to"></label>

                        <h3>Event Type</h3>
                        <div id="filter-options"></div>
                        <!-- event type -->
                        <input type="submit" value="Filter">
                    </form> 
                    <!-- form -->
                </div>
                <!-- col -->
                <div class="col-lg-10 col-md-10 col-sm-10">
                    <div id='map'></div>
                    <div class='map-overlay' id='features'>
                        <h2>US Natural disasters</h2>
                        <div id='pd'><p>Hover over a state or scroll down to table for details!</p></div>
                    </div>
                </div>
                <!-- map col -->
            </div>
            <!-- row -->
            <div class="row">
                    <table class="table table-hover">
                        <tr>
                            <th scope="col">State</th>
                            <th scope="col">Incident Type</th>
                            <th scope="col">Start Date</th>
                            <th scope="col"># of Occurences</th>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- container -->
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="/static/states-data.js"></script>
        <script src="/static/display-filtered-events.js"></script>
        <script src="/static/display-map.js"></script>
        


    </body>
</html>